/* Basisstile */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #282c34;
}

.sidebar {
  height: 100vh; /* Höhe der Sidebar auf die gesamte Höhe des Viewports beschränken */
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  padding-top: 40px;
  z-index: 1000; /* Sidebar über den Footer legen */
  overflow-y: auto; /* Scrollbar bei Überlauf anzeigen */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li a {
  display: block;
  color: white;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 16px;
}

.sidebar ul li a i {
  margin-right: 10px;
}

.sidebar ul li a:hover {
  background-color: #555;
}

/* Stile für den Hauptinhalt */
main {
  margin-left: 200px; /* Platz für die Sidebar */
  padding: 20px;
}

.container {
  max-width: 1000px; /* Maximale Breite des Containers */
  margin: 0 auto; /* Zentriert den Container horizontal */
  padding: 20px;
  background-color: #f4f4f4;
  color: #000;
}

h1, h2 {
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 2px solid #000; /* Rahmenfarbe */
  color: #000; /* Schriftfarbe auf Schwarz setzen */
  background-color: #f9f9f9; /* Hintergrundfarbe der Zellen */
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Responsive image style */
.responsive-img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

/* Modal-Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Footer-Stile */
footer {
  width: 100%;
  height: 18px;
  background-color: #282C34;
  color: white;
  text-align: left;
  padding: 10px 0;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 500; /* Hinter der Sidebar */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.impressum {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  flex-grow: 1;
}

/* Media Queries */
@media (max-width: 1024px) {
  .sidebar {
      width: 150px;
  }

  main {
      margin-left: 150px;
  }

  .container {
      margin-left: 170px;
  }
}

@media (max-width: 768px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
  }

  .sidebar ul li a {
      text-align: center;
  }

  main {
      margin-left: 0;
  }

  .container {
      margin-left: 0;
      padding: 10px;
  }

  footer {
      position: relative;
  }

  .footer-content {
      flex-direction: column;
  }
}

@media (max-width: 480px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      padding-top: 0;
  }

  .sidebar ul {
      display: flex;
      justify-content: space-around;
      padding: 10px 0;
  }

  .sidebar ul li {
      flex: 1;
      text-align: center;
  }

  .sidebar ul li a {
      padding: 10px;
      font-size: 14px;
  }

  main {
      margin-left: 0;
      padding: 10px;
  }

  .container {
      padding: 5px;
  }

  h1 {
      font-size: 28px;
  }

  .description {
      font-size: 16px;
  }

  footer {
      padding: 15px 0;
  }

  .footer-content {
      flex-direction: column;
      align-items: flex-end;
  }

  .impressum {
      text-align: center;
      width: 100%;
      margin: 0;
  }
}
